.App {
  width: 100%;
	text-align: center;
}

.status {
  position: relative;
  margin: 20px auto;
  width: 50%;
  min-width: 500px;
  height: 2rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(235, 245, 252, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

td.reffered {
  font-weight: bold;
  color: rgba(128, 217, 255, 1);
  background: rgba(128, 217, 255, 0.2);
  border: 2px solid rgba(128, 217, 255, 1);
}

.dp-table {
  margin: 20px auto;
  table-layout: fixed;
  width: 50%;
  min-width: 500px;
  border-collapse: collapse;
  line-height: 32px;
}

.dp-table th {
  margin: 20px auto;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  height: 32px;
}

.dp-table th.row-caption {
  text-align: left;
  width:15%;
}

.dp-table td {
  margin: 20px auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #999;
  font-weight: bold;
  line-height: 28px;
  height: 28px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.1);
}

td.isReffered {
  color: rgba(128, 217, 255, 1);
  background: rgba(128, 217, 255, 0.2);
  border: 2px solid rgba(128, 217, 255, 1);
}

td.isBaseReffered {
  color: rgb(255, 128, 171);
  background: rgba(255, 128, 170, 0.2);
  border: 2px solid rgba(255, 128, 170, 1);

}

td.isInProcess {
  color: rgb(245, 255, 129, 1);
  background: rgba(245, 255, 129, 0.2);
  border: 2px solid rgba(245, 255, 129, 1);
}

.square:focus {
  outline: none;
}
